<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roommately</title>
    <!-- Loading Flat UI -->
    <link href="docs/assets/stylesheets/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/stylesheets/demo.css" rel="stylesheet">
    <link href="docs/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  </body>
</html>
<div class="row demo-row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">Roommately</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#fakelink">Me<span class="navbar-unread">1</span></a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me <b class="caret"></b></a>
          </li>
         </ul>
      </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
  </div>
</div> <!-- /row -->
<div class="row">
  <!-- <div class="col-xs-6"> -->
    <div class="form-group">
      <input type="text" value="" placeholder="What are you up to?" class="form-control" />
      <a href="#" class="btn btn-block btn-lg btn-primary">Post</a>
    </div>
  <!-- </div> -->
</div>


