<h3>Welcome to our app!</h3>
<p> One day, this will look pretty </p>
<p> Legit though, Michelle do you know how to prettify home pages? </p>

<img src=http://imgs.xkcd.com/comics/tasks.png />

<p>© <%= Date.today.year %> Is this fancy now?</p>