<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roommately</title>
    <!-- Loading Flat UI -->
    <link href="docs/assets/stylesheets/flat-ui.css" rel="stylesheet">
    <link href="docs/assets/stylesheets/demo.css" rel="stylesheet">
    <link href="docs/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
<div class="row">
    <div class="form-group landing">
      <input type="text" value="" placeholder="What are you up to?" class="form-control" />
      <a href="#" class="btn btn-block btn-lg btn-primary">Post</a>
    </div>
</div>
</body>
</html>
